{% extends 'AppWebBundle::base.html.twig' %}

{% block current_page%}Estatísticas{% endblock %}

{% block content %}
<div class="row">
	<div class="span16">
		<h2>Últimos Tweets postados</h2>

		<ul>
			<li>DVD - Piratas do Vale do Silicio <a href="#">t.co/xxxxx</a> #ad</li>
			<li>MacBook Air 4Gb <a href="#">t.co/xxxxx</a> #ad</li>
			<li>Apple Magic Mouse <a href="#">t.co/xxxxx</a> #ad</li>
		</ul>

		<h2>Receita gerada</h2>
		<ul>
			<li>Outubro/2011: R$320,00 [Parcial]</li>
			<li>Setembro/2011: R$320,00</li>
			<li>Agosto/2011: R$320,00</li>
			<li>Junho/2011: R$320,00</li>
		</ul>
	</div>
</div>
{% endblock %}