{% extends '::base.html.twig' %}

{% block stylesheets %}
{{parent()}}
<link rel="stylesheet" href="/bundles/appweb/css/app.css" type="text/css" media="screen" title="no title" charset="utf-8">
{% endblock %}

{% block body %}

    <div class="topbar">
      <div class="fill">
        <div class="container">
          <a class="brand" href="#">LomaTweet</a>
          
          <ul class="nav">
            <li class="active"><a href="/">Sobre</a></li>
            <li><a href="/user/settings">Configuração</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">

      <div class="content">
		{% block nav %}
		<div class="row">
			<div class="span16">
				<a href="/user/stats">Sua Conta</a> >> {% block current_page %} {% endblock %}
			</div>
		</div>
		{% endblock %}

        {% block content %}{% endblock %}
      </div>

      <footer>
        <p>&copy; PHPSP</p>
      </footer>

    </div> <!-- /container -->

{% endblock %}